<p>about works!</p>

<div>
    <form>
        <div>
            <label>First Name</label><br>
            <input name="first_name" [(ngModel)]="forminfo.first_name" type="text" placeholder="Please enter your first name">
        </div>

        <div>
            <label>Last Name</label><br>
            <input name="last_name" [(ngModel)]="forminfo.last_name" type="text" placeholder="Please enter your last name">
        </div>

        <!-- <div>
            <label>Address</label><br>
            <textarea name="address" [(ngModel)]="forminfo.address" rows="2" placeholder="Input your address"></textarea>
        </div> -->

        <button (click)="submitstudent()" class="btn-success" type="submit">Submit</button>


    </form>
</div>