

<p class="light">I'm starting<br> my first class</p>
<p>I love my mummy</p>


<h1 class="custom-h1">My mummy</h1>
<h2>My mummy</h2>
<h3>My mummy</h3>
<h4>My Mummy</h4>
<h5>My Mummy</h5>
<h6>My Mummy</h6>
<a href="https://facebook.com">Ismail</a>
<img class="success" src="assets/bag2.png">
<img src="assets/bag.jpeg" class="success">


<p>This is to test auto deploy</p>

<a href="https://whatsapp.com" target="_blank">Go to WhatsApp Website</a>

<img src="assets/nikeshoe.jpeg" class="lili">

<img class="lili" src="assets/nikeshoe.jpeg">


<router-outlet></router-outlet>
