<p>home works!</p>


<p class="light">I'm starting<br> my first class</p>
<p>I love my mummy</p>


<h1 class="custom-h1">My mummy</h1>
<h2>My mummy</h2>
<h3>My mummy</h3>
<h4>My Mummy</h4>
<h5>My Mummy</h5>
<h6>My Mummy</h6>
<a href="https://facebook.com">Ismail</a>
<img class="success" src="assets/bag2.png">
<img src="assets/bag.jpeg" class="success">

<img src="https://team.spanglermarket.com/assets/images/logo-light.png" alt="Spangler Logo" title="Spangler Logo">


<p>This is to test auto deploy</p>

<video width="500" height="240" controls>
    <source src="assets/short-video.mp4" type="video/mp4">
  Your browser does not support the video tag.
  </video>

  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZAYZmIfHEiU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZAYZmIfHEiU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>


<p>Hello World!</p>

<a href="https://whatsapp.com" target="_blank">Go to WhatsApp Website</a>

<img src="assets/nikeshoe.jpeg" class="lili">

<img class="lili" src="assets/nikeshoe.jpeg">


<div class="lilidiv">
    <h3 class="title">This is a title</h3>
    <p>This is a body text. This is a body text. This is a body text. This is a body text. This is a body text. This is a body text. This is a body text. This is a body text. </p>
    <p>I love my mummy bv jhnfbv fjh gbf hjgfb jhf fgjhfbn gjkfmhgbfjhnbfgfn gfhfgbfifnhgdfbg jfgbfhvnfg h</p>
</div>

<div class="lilidiv2">
    <div class="lililight">
        <h3 class="title">This is a title</h3>
        <p>This is a body text. This is a body text. This is a body text. This is a body text. This is a body text. This is a body text. This is a body text. This is a body text. </p>
        <p style="color: red;">I love my mummy bv jhnfbv fjh gbf hjgfb jhf fgjhfbn gjkfmhgbfjhnbfgfn gfhfgbfifnhgdfbg jfgbfhvnfg h</p>
    </div>
</div>

<div class="find">
    <p class="number">50</p>
</div>