.success {
    width : 200px;
    height: 100px;
    padding-right: 10px;
    background: red;
}

.tstyle{
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.731);
    color: white;
}

.timage {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px dotted white;
}


.lili {
    width: 100px;
}

.custom-h1 {
    font-size: 50px;
    font-weight: 400;
}

.lilidiv {
    border: 2px solid black;
    width: 200px;
    padding: 20px 50px 20px 50px;
    color: white;
    margin-bottom: 20px;
    border-radius: 20px;
    position: relative;
    height: 300px;
    overflow: hidden;
}

.myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


.title {
    color: red;
}

.lilidiv2 {
    background: green;
    border: 2px solid black;
    width: 500px;
    /* padding-top: 20px; */
    padding: 20px 50px 20px 50px;
    color: black;
}

.lililight{
    background: white;
    padding: 20px 50px 20px 50px;
}

.find {
    background-color: red;
    color: white;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.number {
    text-align: center;
    position: absolute;
    bottom: 1px;
    bottom: -370px;
    left: 40px;
    font-size: 30px;
    font-weight: 900;
}


.red-text {
    color: red;
  }

  .my-class {
    font-size: 50px;
  }