<p>home works!</p>

<div *ngIf="students.length < 7">
    <h3>List of Students</h3>
    <ul *ngFor="let name of students">
        <li>{{name.first_name || "N/A"}} {{name.last_name}}</li>
    </ul>
    
</div>

<div *ngIf="students.length == 0">
    <h3>No Students Available</h3>
</div>

<p>Total = {{totalstudent}}</p>


<p class="my-class">{{title}}</p>


<p>I love my {{title2}}</p>



<p class="light">I'm starting<br> my first class</p>
<p>I love my {{title2}}</p>

<p>My {{title2}} is a very beautiful woman.</p>

<p>Today is {{title2}}'s birthday.</p>



