/* You can add global styles to this file, and also import other style files */

.light {
    color: green;
}

.btn-success {
    height: 30px;
    width: 130px;
    background-color: green;
    color: white;
}

.btn-danger {
    height: 30px;
    width: 130px;
    background-color:red;
    color: white;
}